.scope{
    width: 87px;
    border-radius: 10px;
    text-align: center;
    padding-left: 5px;
    outline:none;
    border:1px solid #cecece;
}

#home-box {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.wrapper {
    text-align: center;
    margin-bottom:10px;
}

/*.wrapper .dropdown {*/
/*    margin: 0 10px;*/
/*}*/


.dropdown, .dropdown * {
    box-sizing: border-box;
}

.dropdown {
    display: inline-block;
    position: relative;
    color: #444444;
    font-size: 16px;
    width: 180px;
    text-align: center;
    font-family: arial;
}

.dropdown__selected {
    border: 1px solid #cecece;
    overflow: hidden;
    background: #fafafa;
    position: relative;
    border-radius: 10px;
}

.dropdown__selected::after {
    display: block;
    content: '';
    border-top: 6px solid #444;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: 8px;
    top: 15px;
    transition: 0.5s;
}

.dropdown--opened .dropdown__selected::after {
    transform: rotate(-180deg);
    margin-top: -1px;
}

.dropdown__panel {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fafafa;
    border: 1px solid #cecece;
    border-top: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    padding: 5px 0;
    border-radius:10px;
    z-index:10;
}

.dropdown--opened .dropdown__panel {
    visibility: visible;
    opacity: 1;
}

.dropdown__option {
    padding: 8px 10px;
    overflow: hidden;
    cursor: pointer;
    padding-right: 20px;
    height: 32px;
    line-height: 1;
}

.dropdown__option:hover {
    background: #f2f2f2;
}